@import "./bootstrap.scss";
$heroHeightMobile: 400px;
$heroHeightDesktop: 500px;
$randomInt: percentage(random(100) / 100);

// ANIMATIONS

@keyframes scale-up {
  0% {
  }
  25% {
    transform: scale(1.5);
    color: $success;
  }
  100% {
    transform: scale(1);
    color: inherit;
  }
}

@keyframes wheel-up {
  0% {
  }
  25% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes spread-1 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.4;
  }
  100% {
    left: 40%;
    top: 0%;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spread-2 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.4;
  }
  100% {
    left: 75%;
    top: 50%;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes spread-3 {
  0% {
    left: 50%;
    top: 50%;
    opacity: 0.4;
  }
  100% {
    left: 40%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes whirlwind-right-1 {
  0% {
    right: 50%;
    top: 50%;
    opacity: 0.4;
  }
  100% {
    right: 40%;
    top: 0%;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes whirlwind-right-2 {
  0% {
    right: 50%;
    top: 50%;
    opacity: 0.4;
  }
  100% {
    right: 75%;
    top: 50%;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes whirlwind-right-3 {
  0% {
    right: 50%;
    top: 50%;
    opacity: 0.4;
  }
  100% {
    right: 40%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $customLight;
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $header-font;
}

ul,
ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
  list-style-position: inside;
}

li {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  border-radius: 0;
  transition: all $transitionTime ease-in-out;
  font-weight: 500;
  i {
    margin-right: 0.5rem; // Adding margin to icon buttons;
  }
}

.btn-primary,
.btn-secondary,
.btnGray {
  font-family: $header-font;
  font-size: 1rem;
  @media (min-width: 992px) {
    font-size: 1.25rem;
  }
}
.btn-primary {
  color: $customLight;
  &:hover {
    color: $customLight;
  }
  &:focus {
    color: $customLight;
  }
}

.btnGray {
  background-color: $custom-gray;
  &:hover {
    background-color: $custom-gray--darken;
  }
}
.btn:hover {
  transform: scale(1.05);
}

.shopping-cart-buy-button:hover i {
  animation: wheel-up 0.25s ease-in;
}

.shopping-cart-buy-button {
  font-size: 1rem;
  &:focus {
    i {
      animation: scale-up 0.5s ease-in;
    }
  }
}
// NAVBAR

.mobileNav {
  display: flex !important;
  width: 100%;
  justify-content: space-between;
  .navbar-toggler {
    color: $customPrimary;
  }
  .mobileNav-buttonContainer {
    display: flex;
    align-items: center;
    .nav-link {
      display: flex;
      align-items: center;
    }
  }
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: $customSecondary;
  padding: 0;
  height: $headerHeight--mobile;
  @media (min-width: 992px) {
    height: $headerHeight--desktop;
  }
}

.navbar-container {
  width: 100%;
}

.navbar-brand,
.navbar-brand img {
  padding: 0;
  max-height: $headerHeight--mobile;
  @media (min-width: 992px) {
    max-height: $headerHeight--desktop;
  }
  width: auto;
}
.navbar-brand img {
  padding: 1rem;
}
.navbar-desktop {
  align-items: center;
  justify-content: space-between;
  background-color: $customSecondary;
  & .col:nth-child(2) {
    text-align: center;
  }
  & .col:last-child {
    text-align: right;
  }
}
.navbar-desktop-imageCol {
  display: none;
  @media (min-width: 992px) {
    display: flex !important;
  }
  align-items: center;
}
.navbar-nav {
  display: inline-flex;
}

.nav-item:not(:last-of-type) {
  margin-right: 1rem;
}
.nav-link {
  color: $customPrimary;
  font-size: 1.4rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  font-family: $header-font;
  &:hover {
    color: $custom-brown;
    border-bottom: 2px solid $custom-brown;
  }
  &:focus {
    color: $custom-brown;
  }
}

.nav-item--shopping-cart {
  .nav-link {
    display: flex;
    align-items: center;
  }
  .active {
    color: $customLight !important;
    .shoppingCartCount {
      position: absolute;
      top: 0;
      display: block;
      color: white;
      transform: translate(100%, -50%);
      background-color: red;
      padding: 0.25rem;
      border-radius: 100%;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      opacity: 0.9;
    }
  }
  .shoppingCartCount {
    opacity: 0;
    transition: opacity $transitionTime linear;
  }
  i {
    position: relative;
    font-size: 2rem;
  }
}

// PAGE

#pageContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#pageContent {
  padding-top: $headerHeight--mobile;
  @media (min-width: 992px) {
    padding-top: $headerHeight--desktop;
  }
}

// SECTION

.section {
  padding: 2rem 0;
}

.section-header {
  text-align: center;
  color: $customPrimary;
  padding-bottom: 1rem;
}

// PAGE LAYOUT

.page-feature-header {
  text-align: left;
  color: $customPrimary;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
}

.page-feature-teaser {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

// HERO;

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $customLight;
  padding: 1rem;
  h1 {
    font-size: 1.5rem;
    @media (min-width: 992px) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1rem;
    @media (min-width: 992px) {
      font-size: 1.2rem;
    }
  }
}

header.heroContainer {
  position: relative;
  height: $heroHeightMobile;
  width: 100%;
  overflow: hidden;
  @media (min-width: 992px) {
    height: $heroHeightDesktop;
  }
}

header.heroContainer .container {
  position: relative;
  z-index: 2;
  height: 100%;
}

header.heroContainer video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: $heroHeightDesktop;
  object-fit: cover;
  z-index: 0;
  @media (min-width: 992px) {
    height: $heroHeightDesktop;
  }
}

// UTIL;

.spinner {
  text-align: center;
  i {
    font-size: 2rem;
    color: $customPrimary;
  }
}

// HJÆLPEKLASSER;

.centerAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.space-evenly {
  justify-content: space-between;
}

.overlay {
  position: relative;
}
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $customSecondary;
  opacity: 0.8;
}

.overlay.overlay--primary::after {
  content: "";
  opacity: 0.95 !important;
  background-color: $customSecondary !important;
}

.overlay--light::after {
  background-color: $custom-brown !important;
  opacity: 0.9 !important;
}

.overlay-text {
  position: relative; // Position cannot be set to static for z-index to work;
  z-index: 1;
}

.hideOnSmall {
  display: none;
  @media (min-width: 992px) {
    display: unset;
  }
}

.hideOnLarge {
  display: unset;
  @media (min-width: 992px) {
    display: none !important;
  }
}

.iconLabel {
  display: flex;
  align-items: center;
  i {
    width: 24px;
    margin-right: 0.25rem;
    color: $customPrimary;
  }
}

.shown:not(.spinner) {
  visibility: visible !important;
}

.hidden:not(.spinner) {
  visibility: hidden !important;
}

.shown.spinner {
  display: unset !important;
}

.hidden.spinner {
  display: none !important;
}

.flexItem {
  display: flex;
  flex-direction: column;
}
.flexItem--inline {
  align-items: flex-start;
}

// FEATURES;

.features {
}

.features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/moseholm/images/featuresBackground.png");
  filter: grayscale(100%);
  background-color: $customDark;
}
.features .col-lg-3 {
  padding-right: 0.25rem;
}

.features-item p {
  display: flex;
  align-items: center;
}

.features table td {
  vertical-align: top;
}

.features table td:first-child {
  padding-right: 1rem;
  color: $customPrimary;
}

.features-points-container {
  display: flex;
  align-items: center;
  color: $customDark;
  font-size: 1rem;
  @media (min-width: 992px) {
    font-size: 1.2rem;
  }
}

//CATEGORY-OVERVIEW

.category-overview-container {
  a {
    color: inherit;
    text-decoration: none;
  }
}
.category-overview-item {
  background-color: $custom-brown;
  position: relative;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: $transitionTime ease-in-out transform;

  &:hover {
    background-color: $customPrimary;
    color: $customLight;
    transform: scale(1.025);
    i:not(:first-of-type) {
      color: $customLight;
      display: unset;
      position: absolute;
      top: 0.5rem;
    }
    i {
      color: $customLight;
    }
  }
  i {
    font-size: 2rem;
    color: $customSecondary;
  }
  i:not(:first-of-type) {
    color: red;
    display: none;
    position: absolute;
    top: 50%;
    animation-fill-mode: forwards !important;
    animation-duration: 0.75s !important;
  }
  i:nth-child(2) {
    animation: spread-1;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  i:nth-child(3) {
    animation: spread-2;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  i:nth-child(4) {
    animation: spread-3;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  i:nth-child(5) {
    animation: whirlwind-right-1;
    transform: translate(50%, -50%);
    right: 50%;
  }
  i:nth-child(6) {
    animation: whirlwind-right-2;
    transform: translate(50%, -50%);
    right: 50%;
  }
  i:nth-child(7) {
    animation: whirlwind-right-3;
    transform: translate(50%, -50%);
    color: purple;
    right: 50%;
  }
}

#clearFilterButton {
  padding: 0;
  font-size: 0.9rem;
  color: $custom-gray--darken;
}
// PRODUCTS;

.product-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.product-category-button {
  display: inline-block;
  font-family: $font-family;
  background-color: $custom-gray;
  padding: 0.25rem;
  font-size: 0.9rem;
  width: 49%;
  margin-bottom: 0.25rem;
  text-align: left;

  &:nth-child(even) {
    margin-left: 1%;
  }
  &:nth-child(odd) {
    margin-right: 1%;
  }

  @media (min-width: 992px) {
    display: block;
    width: 100%;
    padding: 0.5rem 0.25rem;
    &:nth-child(even) {
      margin-left: 0;
    }
    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  &:focus {
    box-shadow: none !important;
  }
  i {
    color: transparent;
    margin-right: 0.5rem;
  }
  &.selected i {
    color: $customSecondary;
  }
  &:hover {
    background-color: $customPrimary;
    color: $customLight;
  }
}

.product-container {
}

.product-item {
  background-color: $custom-brown;
  padding: 1rem;
  margin-bottom: 0.5rem;
  height: 100%;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .product-item-category {
    display: inline-block;
    background-color: $custom-gray;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .product-item-image {
    max-height: 150px;
    width: 100%;
    object-fit: cover;
  }
  .product-item-title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
  .product-item-price {
    padding: 0.5rem 0;
    padding-top: 0;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: right;
  }

  .product-item-priceContainer {
    .product-item-shopNotification {
      background-color: $customLight;
      margin-bottom: 0.15rem;
      padding: 0 0.25rem;
      font-size: 0.85rem;
      text-align: right;
      color: $danger;
    }
  }
}

// EVENTS;

.events {
  background-color: $customPrimary;
}

.event-container:not(:last-of-type) .event-item {
  margin-bottom: 0.5rem !important;
}
.event-item {
  background-color: $custom-brown;
  padding: 1rem;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    margin-top: 0.5rem;
  }
  .event-item-price {
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
  }
  .event-item-date {
    display: inline-block;
    padding: 0 0.25rem;
    margin: 0.5rem 0;
    background-color: $customLight;
    font-size: 0.9rem;
    i {
      margin-right: 0.25rem;
      color: $customSecondary;
    }
  }
  @media (min-width: 992px) {
    height: 100%;
    .event-item-image {
      max-height: 150px;
      width: 100%;
      object-fit: cover;
    }
  }
}
.order-by-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  &:nth-child(odd) {
    margin-right: 1%;
  }
  &:nth-child(even) {
    margin-left: 1%;
  }
  @media (min-width: 992px) {
    display: flex;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .sortIcon {
    margin-left: 0.5rem;
    color: $customSecondary !important;
  }
}

// EVENT DETAILS;

.eventDetails-item {
  box-shadow: $boxShadow;
  @media (min-width: 992px) {
    height: 100%;
    .eventDetails-item-image {
      //height: 500px;
      padding: 2rem 0;
      width: 100%;
      background-size: cover;
      object-fit: scale-down;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start; // Needed to make inline-block elements not take full width.
      padding-left: 3rem;
      color: $customLight;
      div {
        margin-bottom: 0.5rem;
        display: inline-block;
        padding: 0.5rem;
      }
    }
  }
}
.eventDetails-item-date {
  color: $customPrimary;
  font-size: 1.4rem;
  font-weight: 500;
  i {
    margin-right: 0.5rem;
  }
}
.eventDetails-item-details {
  display: inline-block;
  .eventDetails-item-price {
    text-align: right;
    font-size: 1.2rem;
  }
}

.eventDetails-item-header {
  display: inline-block;
  padding: 0.5rem;
}

.eventComments-container:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.eventComment-item {
  background-color: $custom-brown;
  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
  padding: 0.5rem;
}

.eventComment-item-date {
  font-size: 0.9rem;
  color: $customSecondary;
}

.eventComment-item-author {
  font-size: 0.9rem;
  color: $customSecondary;
  .eventComent-item-author-name {
    font-weight: bold;
  }
}

.eventComment-item-comment {
  margin-top: 1rem;
}

#eventDetails-commentForm {
  background-color: $custom-brown;
  padding: 0.5rem;

  button {
    margin-top: 0.5rem;
  }
}

// SHOPPING CART
.product-amount-button {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.product-amount-decrease {
  @media (min-width: 992px) {
    margin-right: 0.5rem;
  }
  background-color: $custom-gray;
}
.product-amount-increase {
  @media (min-width: 992px) {
    margin-left: 0.5rem;
  }
  background-color: $customPrimary;
}
.product-summary {
  background-color: #fff;
  padding: 0.5rem;
}

.product-amount-tag {
  display: inline-block;
  width: 40px;
}
.product-summary-table {
  td {
    padding: 0.25rem;
    @media (min-width: 992px) {
      padding: 0.5rem;
    }
  }
  thead,
  tbody {
    font-size: 0.8rem;
    @media (min-width: 992px) {
      font-size: 1rem;
    }
  }

  th:nth-child(2) {
    text-align: center;
  }
  th:nth-child(3) {
    text-align: right;
  }
  th:nth-child(4) {
    text-align: right;
  }

  td:nth-child(1) {
    width: 30%;
  }
  td:nth-child(2):not(:last-of-type) {
    width: 20%;
    text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    @media (min-width: 992px) {
      font-size: 0.9rem;
      flex-direction: row;
    }
  }
  td:nth-child(2):last-of-type {
    width: 10%;
    text-align: right;
  }
  td:nth-child(3) {
    width: 15%;
    text-align: right;
  }
  td:nth-child(4) {
    width: 15%;
    text-align: right;
  }

  tr:last-of-type td {
    border-bottom: 0;
    span {
      display: block;
      font-weight: bold;
      border-bottom: 1px solid grey;
      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid grey;
      }
    }
  }
}

.no-data-warning-container {
  text-align: center;
}

.no-data-warning span {
  background-color: $custom-gray;
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

#order-submission-form {
  background-color: white;
  padding: 1rem;
}
// FOOTER

.footer {
  width: 100%;
  background-color: $customDark;
  color: $customLight;
  padding: 2.5rem 0;

  .col-12:not(:first-of-type) {
    @media (max-width: 991px) {
      margin-top: 1rem;
    }
  }

  .footer-openingHours-container {
    @media (min-width: 992px) {
      display: table;
      margin: auto;
    }

    td:first-child {
      padding-right: 0.5rem;
    }
  }

  .footer-some {
    @media (min-width: 992px) {
      text-align: right;
    }

    i {
      font-size: 4rem;
      color: $custom-brown;
      transition: $transitionTime ease-in-out all;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      &:hover {
        color: $customPrimary;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  h3 {
    color: $customPrimary;
    margin-bottom: 0.25rem;
    @media (min-width: 992px) {
      font-size: 1.5rem;
    }
  }
}
